{%- set element = (element is defined ? element : null) %}
{%- set handle = (field.handle is defined ? field.handle : null) %}
{%- set label = (field.name is defined ? field.name : null) %}
{%- set instructions = (field.instructions is defined ? field.instructions : null) %}
{%- set errors = element.getErrors(field.handle) -%}

{% namespace namespace %}
    <div class="form__row form__row--{{ fieldType|replace('\\', '') }}{% if class is defined and class %} {{ class }}{% endif %}{% if errors %} has-errors{% endif %}"{% if handle %} id="{{ handle }}-field"{% endif %}>

        {% if label or instructions -%}
            <div class="form__label">
                {% if label -%}
                    <label{% if field.required is defined and field.required %} class="required"{% endif %}{% if handle %} for="{{ handle }}"{% endif %}>
                        {{ label|raw|t('site') }}
                    </label>
                {% endif %}
                {% if instructions -%}
                    <em>{{ instructions|t('site')|raw }}</em>
                {% endif %}
            </div>
        {% endif %}

        <div class="form__field{% if errors %} errors{% endif %}">
            {{ input|raw }}

            {% if errors -%}
                <ul class="errors">
                    {% for error in errors -%}
                        <li>{{ error }}</li>
                    {% endfor -%}
                </ul>
            {% endif -%}
        </div>
    </div>
{% endnamespace %}
