{% extends 'simple-forms/_layouts/cp' %}

{% set title = 'Forms'|t('simple-forms') %}

{% set groupId = null %}
{% set groups = craft.simpleForms.getAllFormGroups('id') %}

{% block actionButton %}
    <a class="btn submit add icon" href="{{ url('simple-forms/forms/new') }}">{{ 'New form'|t('simple-forms') }}</a>
{% endblock %}

{% block sidebar %}

    {% set customizableSources = false %}

    {{ parent() }}

    <div class="buttons">
        <div id="newgroupbtn"
             class="btn add icon">{{ "New Group"|t('sprout-forms') }}</div>

        {% if groupId is defined %}
            <div id="groupsettingsbtn" class="btn settings icon menubtn"
                 title="{{ 'Settings' }}"></div>
            <div class="menu">
                <ul>
                    <li><a data-action="rename"
                           role="button">{{ "Rename selected group"|t('sprout-forms') }}</a>
                    </li>
                    <li><a data-action="delete"
                           role="button">{{ "Delete selected group"|t('sprout-forms') }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% do view.registerAssetBundle("rias\\simpleforms\\assetbundles\\simpleforms\\SimpleFormsAsset") %}

{% js %}
    new Craft.SimpleFormsGroupsAdmin({
        groupsSelector: '#sidebar nav ul',
        newGroupButtonSelector: '#newgroupbtn',
        groupSettingsSelector: '#groupsettingsbtn',

        newGroupAction: 'simple-forms/groups/save-group',
        newGroupOnSuccessUrlBase: 'simple-forms/forms',
        newGroupOnErrorMessage: Craft.t('simple-forms', 'Could not create the group:'),

        renameGroupAction: 'simple-forms/groups/save-group',
        renameGroupOnSuccessMessage: Craft.t('simple-forms', 'Group renamed.'),
        renameGroupOnErrorMessage: Craft.t('simple-forms', 'Could not rename the group:'),

        promptForGroupNameMessage: Craft.t('simple-forms', 'What do you want to name your group?'),

        deleteGroupAction: 'simple-forms/groups/delete-group',
        deleteGroupOnSuccessUrl: 'simple-forms/forms',
        deleteGroupConfirmMessage: Craft.t('simple-forms', 'Are you sure you want to delete this group?'),
        deleteGroupOnErrorMessage: Craft.t('simple-forms', 'Could not delete the group.'),
    });
{% endjs %}