{% extends 'simple-forms/_layouts/cp' %}

{% set fullPageForm = true %}

{% import '_includes/forms' as forms %}

{% set title = (exportId ? 'Edit export'|t('simple-forms') : 'New export'|t('simple-forms')) %}

{% set crumbs = [
    { label: craft.simpleForms.name, url: url('simple-forms') },
    { label: 'Exports'|t('simple-forms'), url: url('simple-forms/exports') },
    { label: title, url: '#' }
] %}

{% block actionButton %}
        {% if exportId %}
            <input type="hidden" name="save" value="1">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('simple-forms') }}">
        {% else %}
            <div class="btngroup">
                <input type="submit" class="btn submit" value="{{ 'Start'|t('simple-forms') }}">

                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <ul>
                        <li>
                            <a class="formsubmit" data-param="save" data-value="1">{{ 'Save and start'|t('simple-forms') }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
{% endblock %}

{%- block containerAttributes -%}
    id="container" {% if fullPageForm -%}
        method="post" accept-charset="UTF-8" data-saveshortcut{% if saveShortcutRedirect is defined %} data-saveshortcut-redirect="{{ saveShortcutRedirect }}"{% endif %}
    {%- endif %}
{%- endblock -%}

{% block content %}
    {% if not availableForms|length or not currentForm|length %}
        <p>{{ 'No forms exist yet.'|t('simple-forms') }}</p>
    {% else %}
        {% set formOptions = [] %}
        {% for form in availableForms %}
            {% set formOptions = formOptions|merge([{ label: form.name, value: form.id }]) %}
        {% endfor %}

        <input type="hidden" name="action" value="simple-forms/exports/save-export">
        {{ redirectInput('simple-forms/exports') }}
        {% if exportId -%}<input type="hidden" name="exportId" value="{{ exportId }}">{% endif %}

        {{ forms.selectField({
            label: 'Form'|t('simple-forms'),
            id: 'formId',
            name: 'formId',
            value: currentForm.id,
            options: formOptions,
            errors: export.getErrors('formId'),
            first: true,
            instructions: 'Which form do you want to export?'|t('simple-forms')
        }) }}
        {{ forms.textField({
            label: 'Name'|t('simple-forms'),
            id: 'name',
            name: 'name',
            value: export.name,
            errors: export.getErrors('name'),
            instructions: 'Optional name for your export.'|t('simple-forms')
        }) }}
        {{ forms.selectField({
            label: 'Type'|t('simple-forms'),
            id: 'type',
            name: 'type',
            value: export.type,
            options: [
                {label: 'Excel (XLSX)', value: 'xlsx'},
                {label: 'CSV', value: 'csv'},
            ],
            errors: export.getErrors('type'),
            instructions: 'Which filetype?'|t('simple-forms')
        }) }}
        <hr>
        <h3>{{ 'Which fields do you want to export?'|t('simple-forms') }}</h3>
        {% set exportFields = availableFields %}

        <div id="{{ currentForm.id }}">
            <table id="formFields-{{ currentForm.id }}" class="data fullwidth collapsible">
                <thead>
                    <td class="thin"></td>
                    <th scope="col">{{ 'Field'|t('simple-forms') }}</th>
                    <th scope="col">{{ 'Include in export'|t('simple-forms') }}</th>
                    <th scope="col">{{ 'Export as'|t('simple-forms') }}</th>
                </thead>
                <tbody>
                    {# Override fields order if we saved this export #}
                    {% if export.formId and export.map|length and export.formId == currentForm.id and export.map.fields|length == exportFields|length %}
                        {% set newFields = [] %}

                        {% for mapField, mapValue in export.map.fields %}
                            {% for field in exportFields %}
                                {% if mapField == field.handle %}
                                    {% set newFields = newFields|merge([field]) %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                        {% set exportFields = newFields %}
                    {% endif %}

                    {% for field in exportFields %}
                        <tr>
                            <td class="thin"><a class="move icon" title="{{ 'Reorder'|t('simple-forms') }}" role="button"></a></td>
                            <td>{{ field.name }}</td>
                            <td>
                                {{ forms.lightswitchField({
                                    id: currentForm.id ~ '[included][' ~ field.handle ~ ']',
                                    name: currentForm.id ~ '[included][' ~ field.handle ~ ']',
                                    on: (export.map|length and attribute(export.map.included, field.handle) is defined ? attribute(export.map.included, field.handle) : (field.defaultInclude is not defined ? field.checked : true))
                                }) }}
                            </td>
                            <td>
                                {{ forms.textField({
                                    id: currentForm.id ~ '[fields][' ~ field.handle ~ ']',
                                    name: currentForm.id ~ '[fields][' ~ field.handle ~ ']',
                                    value: (export.map|length and attribute(export.map.fields, field.handle) is defined ? attribute(export.map.fields, field.handle) : field.name)
                                }) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr>
            <h3>{{ 'What criteria must be met?'|t('simple-forms') }}</h3>
            <p id="nocriteria-{{ currentForm.id }}">
                {{ "No criteria exist yet."|t('simple-forms') }}
            </p>
            <table id="formCriteria-{{ currentForm.id }}" class="data fullwidth collapsible">
                <thead>
                    <th scope="col">{{ 'Field'|t('simple-forms') }}</th>
                    <th scope="col">{{ 'Criteria'|t('simple-forms') }}</th>
                    <td class="thin"></td>
                </thead>
                <tbody>
                    {% if export.criteria|length and export.criteria.fields|length -%}
                        {% for criteriaKey, criteriaField in export.criteria.fields %}
                            {% include 'simple-forms/exports/_fields/template' with {
                                fields: exportFields,
                                criteriaCounter: loop.index0,
                                givenField: criteriaField,
                                givenValue: (attribute(attribute(export.criteria, criteriaField), criteriaKey) is defined ? attribute(attribute(export.criteria, criteriaField), criteriaKey) : null)
                            } %}
                        {% endfor %}
                    {% endif -%}
                </tbody>
            </table>
            <div class="buttons">
                <a href="#" id="addCriteria-{{ currentForm.id }}" class="btn dashed add icon">{{ 'Add criteria'|t('simple-forms') }}</a>
                <div class="spinner hidden"></div>
            </div>

            {% set js %}
                new Craft.SimpleFormsAdminTable({
                    tableSelector: '#formFields-{{ currentForm.id }}',
                    sortable: true
                });
                new Craft.SimpleFormsAdminTable({
                    tableSelector: '#formCriteria-{{ currentForm.id }}',
                    noObjectsSelector: '#nocriteria-{{ currentForm.id }}',
                    criteriaSelector: '#addCriteria-{{ currentForm.id }}',
                    criteriaCounter: {{ (export.criteria|length and export.criteria.fields|length ? export.criteria.fields|length : 0) }},
                    formId: {{ currentForm.id }}
                });
                $('#formId').on('change', function() {
                    window.location = window.location.pathname + '?formId=' + $(this).val();
                });
            {% endset %}
            {% js js %}
        </div>
    {% endif %}
{% endblock %}
